.home_page {
  &__container {
    padding: 0px 100px;

    display: flex;
    flex-direction: row;
  }

  &__img {
    background-image: url('../../assets/img/selft_potrait.jpg');
    background-size: cover;

    height: 800px;
    width: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__desc {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow: 1;

    & > span {
      width: 450px;
      height: 350px;

      font-size: 3.5rem;
    }
  }
}
